{% extends 'base.html' %}

{% block title %}
Browse Jobs
{% endblock title %}


{% block main_content %}
<div class="container">
    <br><br>
    <div class="card">
        <div class="card-header">
            <b>All Jobs</b>
        </div>
    </div>

    {% for job in all_jobs %}
    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div style="display: flex; flex-direction: column;">
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Job Title:</span>
                            <b>{{job.job_title}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Vacancy:</span>
                            <b>{{job.number_of_vaccencies}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Required Major:</span>
                            <b>{{job.major}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Performance Type:</span>
                            <b>{{job.performance_type}}</b>
                        </div>
                       
                    </div>
                </div>
                
                

                <div class="col-4">

                    <div style="display: flex; flex-direction: column;">
                       
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Company:</span>
                            <b>{{job.posted_by.name}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Location:</span>
                            <b>{{job.job_location}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Date:</span>
                            <b>{{job.date_posted}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Applications:</span>
                            <b>{{job.applied_bys.all.count}}</b>
                        </div>
                        
                    </div>
                </div>
                
                
                
                
                <div class="col-2 d-flex align-items-center justify-content-center">
                    {% if user.is_authenticated %}
                        {% if type == "Student" %}
                            {% if profile.student_resume %}
                            <a href="{% url 'apply_to_job' job.pk %}" class="btn btn-outline-success btn-lg">Apply</a>
                            {% else %}
                            <a href="{% url 'home' %}" class="btn btn-outline-success btn-lg">Update Resume To Apply</a>
                            {% endif %}
                        {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-success btn-lg">Login as Student To Apply</a>
                        {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success btn-lg">Login To Apply</a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main_content %}