{% extends 'base.html' %}

{% block title %}
Browse Jobs
{% endblock title %}


{% block main_content %}
<div class="container">
    <br><br>
    <div class="card">
        <div class="card-header">
            <b>All Jobs</b>
        </div>
    </div>

    {% for job in all_jobs %}
    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div style="display: flex; flex-direction: column;">
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Job Title:</span>
                            <b>{{job.job_title}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Vacancy:</span>
                            <b>{{job.number_of_vaccencies}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Required Major:</span>
                            <b>{{job.major}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Performance Type:</span>
                            <b>{{job.performance_type}}</b>
                        </div>
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="min-width: 150px;">Working Time:</span>
                            <b>{{job.working_time}}</b>
                        </div>
                    </div>
                </div>
                
                

                <div class="col-4">
                    <div style="display: flex; flex-direction: column;">
                
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="width: 100px; margin-right: 10px;">Salary:</span>
                            <b>{{job.salary}} Dinars</b>
                        </div>
                
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="width: 120px; margin-right: 10px;">Company:</span>
                            <b>{{job.posted_by.name}}</b>
                        </div>
                
                        <div style="display: flex; margin-bottom: 5px; align-items: baseline;">
                            <span style="width: 100px; margin-right: 10px;">Location:</span>
                            <b>{{job.job_location}}</b>
                        </div>
                
                        <div style="display: flex; align-items: baseline;">
                            <span style="width: 120px; margin-right: 10px;">Date:</span>
                            <b>{{job.date_posted}}</b>
                        </div>
                
                    </div>
                </div>
                
                
                
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <a href="" class="btn btn-outline-success">Apply</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main_content %}