{% extends 'base.html' %}

{% block title %}
View {{job.job_location}}
{% endblock title %}


{% block main_content %}
<div class="container">
    <br><br>
    <div class="card">
        <div class="card-header">
           Job by - <b style="color: red;">{{the_job.posted_by.name}}</b>
        </div>
        <div class="card-body">
            <b>Job Title:</b>
            <hr>
            <h6>{{the_job.job_title}}</h6>
            <br>

            <b>Job Description:</b>
            <hr>
            <h6>{{the_job.job_description}} Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque tempore quaerat similique distinctio rerum aspernatur officiis et mollitia blanditiis esse incidunt repellendus consequuntur pariatur, architecto velit. Placeat molestiae ex eius. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, beatae impedit quibusdam facere quasi ut voluptatibus! Earum dolorum quibusdam nostrum est eos veniam non. Suscipit nihil aspernatur mollitia illum ipsum?</h6>
            <br>
            <b>Job Location:</b>
            <hr>
            <h6>{{the_job.job_location}}</h6>

            <br>
            <b>Vaccencies:</b>
            <hr>
            <h6>{{the_job.number_of_vaccencies}}</h6>

            <br>
            <b>Posted On:</b>
            <hr>
            <h6>{{the_job.date_posted}}</h6>

            <br>
            <b>Number Of Applications:</b>
            <hr>
            <h6>{{the_job.applied_bys.all.count}}</h6>

            <br>
            {% if type == "Student" %}
            <a href="" class="btn btn-outline-success">
                Apply <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                  </svg>
            </a>
            {% elif type == "Company" %}
            {% if owner %}
            <b>All Applications-</b>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<br><br><br>
{% endblock main_content %}